{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conhecimentos gerais sobre a maçonaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'conhecimentos.css' %}">
</head>
<body>
    {% include 'partials/nav.html' %}
    <main>
        <div class="titulo-main">
            <h1>Cohecimentos Gerais</h1>
        </div>
        <div class="paragrafo">
            <h4>Códigos secretos:</h4>
            <p>Há rumores de que todos os maçons aprendem um aperto de mão secreto. Embora a Maçonaria exista em todo o mundo, cada loja tem seus próprios rituais, apertos de mão, senhas e batidas secretas. Alguns deles:</p>
            <div class="imagem-paragrafo-1">
                <img src="{% static 'img/aperto-aprendiz.png' %}" alt="">
                <img src="{% static 'img/aperto-companheiro.png' %}" alt="">
                <img src="{% static 'img/aperto-mestre.png' %}" alt="">
            </div>
        </div>
        <div class="paragrafo">
            <h4>Nazismo</h4>
            <p>Durante o nazismo, cerca de 80 mil a 200 mil maçons foram mortos por Hitler, que acreditava que a maçonaria era uma “ferramenta dos judeus”.</p>
        </div>
        <div class="paragrafo">
            <h4>Igualdade</h4>
            <p>A fraternidade dos maçons é baseada na igualdade entre os membros. Apesar de contar com um grande número de presidentes e outros indivíduos importantes e influentes, todos esses títulos grandiosos devem ser esquecidos ao entrar em uma loja maçônica. O único status que importa é o nível de realizações dentro da Maçonaria.<p>
        </div>
        <div class="paragrafo">
            <h4>Os maçons usam três pontos na escrita e na assinatura</h4>
            <p>Na escrita os maçons usam três pontos que são colocados na forma de um triângulo. Esse fato curioso também ficou conhecido como uma das características que permite que os maçons sejam reconhecidos, mas não é por esse motivo que eles são usados. Os três pontos na escrita têm a função de abreviar palavras e são usados conforme algumas regras específicas.</p>
        </div>
        <div class="paragrafo">
            <h4>Sociedade secreta?</h4>
            <p>A maçonaria não é uma sociedade assim tão secreta. Seus membros podem livremente falar para os demais sobre a sua associação, porém devem guardar para si os segredos e detalhes das atividades realizadas.</p>
        </div>
        <div class="paragrafo">
            <h4> É proibido falar sobre religião ou política nas reuniões</h4>
            <p>Apesar de a crença monoteísta ser obrigatória para participar da associação maçônica, a discussão sobre religião é proibida nas lojas maçônicas. A organização é geralmente descrita como “religiosa, mas não uma religião”, e não coloca nenhuma religião monoteísta sobre outra. A discussão sobre política também é proibida.</p>
        </div>
        <div class="paragrafo">
            <h4>Existe a maçonaria feminina?</h4>
            <p>Apesar de a tradicional maçonaria ser formada unicamente por homens, como foi citado na curiosidade 9, existem ordens maçônicas femininas, como a Ordem das mulheres maçons, Ordem de Amaranth, Fraternidade honorária dos antigos maçons, Ordem das mulheres maçons e Ordem social de Beauceant, entre outras. Os ritos que acontecem nas maçonarias femininas são os mesmos que acontecem nas masculinas.</p>
        </div>
        <div class="paragrafo">
            <h4>Quem pode ser membro?</h4>
            <p>Com exceção de alguns capítulos não oficiais, apenas homens são bem-vindos na Maçonaria. Qualquer pessoa que deseje participar deve ser indicada por dois membros estabelecidos. Além disso, todos os interessados devem atestar que acreditam em um único Poder Supremo — um deus monoteísta, mas não necessariamente o cristão.</p>
        </div>
        <div class="paragrafo">
            <h4>Os maçons usam o avental maçônico</h4>
            <p>A maçonaria é uma sociedade cheia de símbolos e o avental maçônico, embora menos conhecido, é um deles. O avental é usado para relembrar aos maçons que uma de suas funções é se manter em trabalho constante pelo bem da sociedade.</p>
        </div>
        <div class="paragrafo">
            <h4>A nota de um Dólar</h4>
            <p>Um dos ícones da economia americana, a nota de US$ 1 é repleta de desenhos e símbolos com referências à história norte-americana. Algumas pessoas acreditam haver ali várias referências escondidas à maçonaria. Do lado direito, aparece a face do selo (com o desenho da águia) e, do lado esquerdo, a parte de trás (com o desenho da pirâmide).</p>
        </div>
    </main>
    
</body>
</html>